
.container{
    background: #141414;
    color: #fff;
}
.Hero-container{
    display: flex;
    flex-wrap: wrap;
   
}
.Hero-content{
    margin-left: 5rem;
    margin-top: 5rem;
}
.Hero-content a{
    color: #fff;
    font-size: small;

}
.Hero-content h2{
    width:20rem ;
    margin-top: 30px;
}
.Hero-content p{
    width:78%;
    color: #6f6f6f;
    font-size: small;
    margin-top: 30px;
}
.Homepage-img{
    width: 30rem;
    margin-right: -5rem;
    height:30rem;
    margin-top: -1rem;
}
.Hero-img{
    width: 100px;
    margin-left: -10rem;
    border: 1px solid;
    margin-top: 9rem;
}
.btns{
    margin-top: 30px;
}
.Explore-btn{
    background-color: #1e1e1e;
    color: #fff;
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
}
.Browse-btn{
    background-color: #703bf7;
    color: #fff;
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
}
.btns{
    display: flex;
    gap: 10px;
}
.review-section {
    display: flex;
    margin-top: 30px;
    gap: 30px;
   
}
.review-one{
    background-color:#191919 ;
    display: flex;
    flex-direction: column;
    width: 10rem;
    border: 1px solid green;
    height: 2px;

}
.review-two{
    background-color:#191919 ;
    display: flex;
    flex-direction: column;
    width: 10rem;
    border: 1px solid green;

}
.review-three{
    background-color:#191919 ;
    display: flex;
    flex-direction: column;
    width: 10rem;
    border: 1px solid green;
}
.searchIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    img{
        width: 2rem;
    }
}
.dreamhome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.properties{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.managements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}